*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #dbc9bde1;
    text-align: center;
    height: 220px;
}
img{
    width: 160px;
    padding: 10px;
    border-radius: 80px;
}
a{
    background-color: antiquewhite;
    color: rgb(45, 158, 158);
    border-radius: 20px;
    text-decoration: none;
    padding: 5px;
}
a:hover{
    border: 2px #e7ae88 solid;
}
main{
    margin-top: 20px;
    max-width: 300px;
    text-align: justify;
    margin-left: 100px;
}
section{
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    margin-top: 20px;
}